ADMIN_EMAIL=poriaasadi7820@gmail.com
REGISTRATION_NOTIFICATION_TO=poriaasadi7820@gmail.com
RESEND_API_KEY=
REGISTRATION_FROM_EMAIL=BASE 2026 <registration@your-domain.example>
PAYMENT_CARD_NUMBER=
PAYMENT_CARD_HOLDER=
PAYMENT_BANK_NAME=
